html {
  min-height: 100%;
}
body {
  background: transparent linear-gradient(0deg, #6ed4ff 0%, #ffffff 100%) 0% 0%
    no-repeat padding-box;
  border-radius: 43px;
  opacity: 0.79;
  font-family: "Poppins", sans-serif;
}
section.register-form {
  margin-top: 5%;
  position: relative;
}
.text {
  margin-top: 11%;
  margin-left:150px;
}
.text h1 {
  font-weight: 700;
  padding-right: 24%;
  font-family: "Montserrat", sans-serif;
  font-size: 31px;
  line-height: 41px;
}
input[type="text"]::placeholder {
  font-size: 12px;
}
h2 {
  text-align: center;
  font-weight: 700;
  color: #000;
  font-family: "Montserrat", sans-serif;
}
p {
  font-family: "Montserrat", sans-serif;
}
.form p {
  text-align: center;
  margin-bottom: 7%;
}
.text span {
  margin-top: 42px;
  position: relative;
  float: left;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  width: 100%;
}
button {
  background: #278df1 0% 0% no-repeat padding-box;
  border-radius: 28px;
  border: none;
  padding: 8px 42px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  margin-top: 11px;
}
.form {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 30px #00000029;
  border-radius: 41px;
  padding: 20px 4%;
  top: 100px;
  left: 150px; 
  width: 330px;
  height: 350px;
}

input[type="text"],
input[type="password"] {
  width: 220px;
  /* padding: 7px; */
  /* margin: 5px 0 10px 0; */
  /* display: inline-block; */
  border: none;
  background: none;
  border-bottom: 1px solid #278df1;
  font-size: 13px;
}
input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
.formPostion{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
.form-reg {
    flex: 1;
  padding-right: 6%;
  /* float: left; */
  width: 50%;

}
label {
  /* display: inline-block; */
  max-width: 100%;
  margin-bottom: 5px;
  color: #278df1;
  font-weight: 400;
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
}
.form-reg.checkbox {
  width: 100%;
}
.form-reg.checkbox {
  text-decoration: underline;
  text-align: center;
  color: #53a4f4;
  margin-top: 4%;
  font-size: 13px;
}
.form-reg.signbtn {
  width: 100%;
  display: flex;
  justify-content: center;
}
