table {
  /* border-collapse: collapse; */
  width: 100%;
}
th {
  font-size: 14px;
  font-weight: bold;
}
td,
th {
  text-align: left;
  padding: 12px;
}

tr:nth-child(even) {
  background-color: #fafdff;
}
tr {
  box-shadow: 0px 3px 6px #00000029;
  background: #f8faff 0% 0% no-repeat padding-box;
}
.surveys.list {
  border: none;
}
.actions {
  text-align: center;
}
