.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    box-shadow: 0px 3px 8px #00000029;
    background: #FFFFFF 0% 0% no-repeat padding-box; 
    opacity: 1;
}
.profimg{
    width: 15px;
    border-radius: 50%;
}
.profile{
    display: flex;
    width: 25px;
    justify-content: space-between;
    align-items: center;
}
.more{
    width:5px;
    height: 3px;
}